section {
  min-height: 96vh;
  overflow: hidden;
}
.inheritHeight {
  min-height: inherit;
}
div#counterBox {
  z-index: 10000000;
  max-height: 35px;
  min-height: 35px;
  width: 80px;
  border-radius: 10px;
  text-align: center;
}
