<section class="p-1 bg-primary">
  <form [formGroup]="fallingObjectControls" class="mt-4">
    <div class="mb-2 d-flex flex-column">
      <mat-form-field appearance="fill">
        <mat-label class="text-white" for="Type" id="Type">Preset: </mat-label>
        <mat-select
          formControlName="Type"
          value="{{ fallingObjectControls.value.Type.value }}"
        >
          <mat-option
            class="text-white"
            *ngFor="let Preset of controlPresets"
            [value]="Preset"
          >
            {{ Preset }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="mb-2 d-flex flex-column">
      <mat-form-field appearance="fill">
        <mat-label class="text-white" for="Color" id="Color"
          >Color:
          <span class="colorPreview p-2 m-1" [ngStyle]="{ 'background-color': color?.value }"></span>
        </mat-label>
        <input class="text-white" matInput placeholder="Color" formControlName="Color"/>
      </mat-form-field>
    </div>
    <div class="mb-2 d-flex flex-column">
      <mat-form-field appearance="fill">
        <mat-label class="text-white" for="BackgroundColor" id="BackgroundColor"
          >BackgroundColor:
          <span class="colorPreview p-2 m-1" [ngStyle]="{ 'background-color': backgroundColor?.value }"></span>
        </mat-label>
        <input class="text-white" matInput placeholder="BackgroundColor" formControlName="BackgroundColor"/>
      </mat-form-field>
    </div>
    <div class="mb-2 d-flex flex-column">
      <label class="text-white" for="SpeedX" id="SpeedX"
        >SpeedX:{{ fallingObjectControls.value.SpeedX | json }}</label
      >
      <mat-slider min="1" max="100" step="1" showTickMarks>
        <input matSliderThumb class="mw-100" formControlName="SpeedX" />
      </mat-slider>
    </div>
    <div class="mb-2 d-flex flex-column">
      <label class="text-white" for="SpeedY" id="SpeedY"
        >SpeedY:{{ fallingObjectControls.value.SpeedY | json }}</label
      >
      <mat-slider min="1" max="100" step="1" showTickMarks>
        <input matSliderThumb class="mw-100" formControlName="SpeedY" />
      </mat-slider>
    </div>
    <div class="mb-2 d-flex flex-column">
      <label class="text-white" for="Amount" id="Amount">
        Amount:{{ fallingObjectControls.value.Amount | json }}</label
      >
      <mat-slider min="1" max="100" step="1" showTickMarks>
        <input matSliderThumb class="mw-100" formControlName="Amount" />
      </mat-slider>
    </div>
    <div class="mb-2 d-flex flex-column">
      <label class="text-white" for="Angle" id="Angle"
        >Angle:{{ fallingObjectControls.value.Angle | json }}</label
      >
      <mat-slider min="1" max="100" step="1" showTickMarks>
        <input matSliderThumb class="mw-100" formControlName="Angle" />
      </mat-slider>
    </div>
    <div class="mb-2 d-flex flex-column">
      <label class="text-white" for="Height" id="Height">
        Height:{{ fallingObjectControls.value.Height | json }}</label
      >
      <mat-slider min="1" max="100" step="1" showTickMarks>
        <input matSliderThumb class="mw-100" formControlName="Height" />
      </mat-slider>
    </div>
    <div class="mb-2 d-flex flex-column">
      <label class="text-white" for="Width" id="Width"
        >Width:{{ fallingObjectControls.value.Width | json }}</label
      >
      <mat-slider min="1" max="100" step="1" showTickMarks>
        <input matSliderThumb class="mw-100" formControlName="Width" />
      </mat-slider>
    </div>
    <div>
      <button
      id="submitButton"
        type="submit"
        (click)="submit()"
        mat-raised-button
        class="w-100 text-white"
      >
        Apply changes
      </button>
    </div>
  </form>
</section>
