ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.bg-blue {
  background-color: deepskyblue;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.bg-slateblue {
  background-color: rgb(105, 93, 189);
}
.bg-slateblue:hover {
  background-color: rgb(132, 115, 243);
}
.bg-slatebluedarker-noHover {
  background-color: rgb(91, 78, 177);
}
.bg-red {
  background-color: rgb(136, 2, 2);
}
.bg-red:hover {
  background-color: rgb(189, 0, 0);
}
